.main_container{
    display: flex;
}

#welcome_banner{
    text-align: center;
    font-weight: 800;
    font: 30px;
}

#login_form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
}

.form_container input{
    width: 80%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 300;
    border-bottom: 1px solid gray;
}

.form_container button{
    margin-top: 30px;
    background-color: #90E0EF;
    width: 100px;
    height: 30px;
    border-radius: 25px;
}

.form_container h2{
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    padding-bottom: 30px;
}

.form_container{
    padding-top: 70px;
    padding-bottom: 70px;
    flex-grow: 1;
}

.form_container label{
    width: 70%;
}

.image{
    flex-grow: 1;
    padding-top: 60px;
    height: 70%;
}

#tnc{
    align-self: flex-start;
    margin-left: 30px;
}

.login_link{
    padding-top: 30px;
}